 /* animation for heading */
 .autoShow {
     animation: text-appear 1s both;
     animation-timeline: view();
     animation-range: entry 20% cover 100vh;
 }

 @keyframes text-appear {
     from {
         opacity: 0;
         transform: translateY(100px);
     }

     to {
         opacity: 1;
         transform: translateY(0px);
     }
 }

 /* animation for images */
 .imageReveal {
     animation: image-Reveal 1.2s both;
     animation-timeline: view(50% 20%);
 }

 @keyframes image-Reveal {
     from {
         filter: saturate(0) contrast(4) brightness(0.1) blur(5px);
         opacity: 0;
         scale: 0.95;
         transform: translate(0, 10px);
     }

     to {
         filter: none;
         opacity: 1;
         scale: 1;
         transform: translate(0, 0);
     }
 }

 /* animation for cards */
 .appear {
     animation: card-appear 1s linear;
     animation-timeline: view();
     animation-range: entry 0 cover 60%;
 }

 @keyframes card-appear {
     from {
         opacity: 0;
         scale: 0.5;


     }

     to {
         opacity: 1;
         scale: 1;
     }
 }