@media screen and (max-width: 992px) {
    .navbar {
        display: block;
    }

    .navbar-nav .active::before {
        content: "";
        width: 0%;
        position: absolute;
        opacity: 0;
    }

    nav ul li .nav-link {
        font-size: 15px;
        color: rgb(78, 78, 78);
    }

    link.show {
        font-size: 15px;
        color: rgb(78, 78, 78);
    }

    .collapse {
        position: relative;
    }

    .navbar-nav .nav-link.active {
        color: var(--blue-color);

    }

    .navbar-nav .nav-item:hover ::before {
        content: "";
        width: 0%;
        opacity: 0;

    }

    .navbar-toggler:hover .navbar {
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        z-index: 999;
        overflow: hidden;
        background: rgba(78, 78, 78, 0.9);
    }

    .navbar-nav {
        display: block;
        position: absolute;
        top: 55px;
        right: 10px;
        left: 10px;
        background-color: rgb(255, 255, 255);
        overflow-y: auto;
        padding: 10px 0px;
        transition: 0.3s;
    }

    .navbar-nav {
        height: 80vh;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .nav-link svg {
        fill: var(--blue-color);
        left: 90%;
        position: absolute;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1100;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.95);
        /* أو var(--header-bg) */
        padding: 1rem 1.25rem;
        transition: transform 280ms ease, opacity 280ms ease;
        transform-origin: top;
    }

    .navbar-collapse.collapse:not(.show) {
        display: block;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transform: scaleY(0.96) translateY(-6px);
    }

    .navbar-collapse.collapse.show {
        height: auto;
        opacity: 1;
        transform: scaleY(1) translateY(0);
    }
}