 /* _____________ variables _____________ */
 :root {
     --primary-color: rgb(255, 255, 255);
     --secondary-color: rgb(30, 30, 30);
     --tertiary-color: rgb(78, 78, 78);
     --blue-color: rgb(0, 120, 255);
     --black-color: rgb(33, 37, 41);
     --light-grey: #cde1f8;
     --bg-body: #f5f5f5;
     --header-bg: rgba(0, 0, 0, 0.8);
     --section-bg: #0078ff;
     --footer-bg: #0062d3;
     --footer-icons: rgb(0, 120, 255);
 }

html {
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges; 
}

 /*________________  N A V   B A R _______________ */

 .navbar {
     background-color: var(--header-bg);
     z-index: 100;
 }

 .navbar-brand {
     color: var(--primary-color);
     font-size: 28px;
     font-weight: 600;
 }

 .navbar-brand:focus,
 .navbar-brand:hover {
     color: var(--primary-color);
 }

 nav ul li .nav-link {
     color: var(--primary-color);
     font-weight: 600;
     line-height: 24px;
     text-transform: uppercase;
     position: relative;
 }

 .navbar-nav .nav-link::before {
     content: "";
     width: 0%;
     height: 2px;
     border: 1px solid var(--primary-color);
     position: absolute;
     left: 30px;
     bottom: 3px;
     opacity: 0;
     visibility: hidden;
     transition: width ease-in-out 0.4s;
 }

 .navbar-nav .active::before {
     content: "";
     width: 50%;
     height: 2px;
     border: 1px solid var(--primary-color);
     position: absolute;
     opacity: 1;
     visibility: visible;
     left: 30px;
     bottom: 3px;
     cursor: pointer;
 }

 .navbar-nav .nav-link.active {
     color: var(--primary-color);
 }

 .nav-link:focus,
 .nav-link:hover {
     color: var(--primary-color);
 }

 .navbar-nav .nav-link.active,
 .navbar-nav .nav-link.show {
     color: var(--primary-color);
 }

 .navbar-nav .nav-item:hover ::before {
     content: "";
     width: 60%;
     height: 2px;
     border: 1px solid var(--primary-color);
     position: absolute;
     left: 30px;
     bottom: 3px;
     opacity: 1;
     visibility: visible;
     transition: width ease-in-out 0.4s;
 }

 .navbar-expand-lg .navbar-nav .nav-link {
     padding-block: 10px;
     padding-left: 30px;
     padding-right: 0px;
 }

 .dropdown-toggle::after {
     display: none;
 }

 .dropdown-menu {
     border-radius: 0%;
     width: 200px;
     opacity: 0;
     left: 30px;
     visibility: hidden;
     display: block;
     transition: all ease 0.4s;
 }

 .dropdown-item {
     font-size: 14px;
     color: var(--tertiary-color);
     padding: 10px 20px;
     font-weight: 600;
 }

 .dropdown-item:focus,
 .dropdown-item:hover {
     color: rgb(0, 120, 255);
     background-color: transparent;
 }

 .dropdown:hover .dropdown-menu {
     opacity: 1;
     visibility: visible;
     top: 100%;
 }

 .dropdown-menu svg {
     align-items: center;
 }

 .deep-li:hover .deep {
     opacity: 1;
     top: 100%;
     left: 100%;
 }

 .deep {
     left: 100%;
     border-radius: 0%;
     width: 200px;
     opacity: 0;
     width: 200px;
     background-color: var(--primary-color);
     padding: 10px 20px;
     display: block;
     transition: all ease 0.4s;
 }

 /*__________H E A D E R _____________*/

 header {
     background-image: linear-gradient(var(--header-bg)), url('../imgs/hero-section/hero-bg.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     min-height: 100vh;
 }

 header h1 {
     color: var(--primary-color);
     font-size: 28px;
 }

 header h2 {
     font-size: 4.5rem;
 }

 header .typing {
     font-size: 40px;
 }

 header .typed-cursor {
     font-size: 40px;
     height: 40px;
     width: 2px;
 }


 /*_____________ A B O U T  M E  S E C T I O N _______________*/
 section.about .container {
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
 }

 section.about h2:before {
     content: '';
     height: 3px;
     width: 15%;
     background-color: var(--blue-color);
     bottom: -9px;
     position: absolute;
 }

 section.about .about-details img {
     max-width: 100%;
     display: block;
     width: 160px;
 }

 section.about .about-progress span {
     color: var(--tertiary-color);
 }

 section.about .about-progress .percentage-bar {
     width: 100%;
     height: 11px;
     background-color: var(--light-grey);
 }

 section.about .about-progress .bar {
     width: 85%;
     height: 11px;
     background-color: var(--blue-color);
 }

 /* __________ S E R V I C E S   S E C T I O N __________*/

 section.services .para-services {
     color: var(--tertiary-color);
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 section.services .para-services:before {
     content: '';
     width: 3%;
     height: 4px;
     background-color: var(--blue-color);
     position: absolute;
     bottom: -15px;
 }

 section.services .card .card-body {
     text-align: center;
 }

 section.services .card {
     box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
     border-color: var(--primary-color);
 }

 section.services .card i {
     font-size: 40px;
 }

 section.services .card .services-icon {
     width: 130px;
     height: 130px;
     background-color: var(--blue-color);
 }

 section.services .card .circle {
     width: 100px;
     height: 100px;
     background-color: var(--primary-color);
     transition: all 2s ease;
 }

 section.services .card:hover .circle {
     background-color: var(--blue-color);
     cursor: pointer;
     transition: all 0.5s ease;
 }

 section.services .card:hover .services-icon {
     background-color: var(--light-grey);
     transition: all 0.5s ease;
 }

 section.services .card:hover i {
     color: var(--primary-color);
     transition: all 0.5s ease;
 }

 /* <!-- C O U N T E R   S E C T I O N --> */
 div.counter {
     background-image: url('../imgs/blog-section/post-3.jpg');
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     padding: 128px 0px;
 }

 div.counter .overlay {
     opacity: 0.8;
 }

 div.counter .counter-box .counter-icon {
     width: 85px;
     height: 85px;
     background-color: var(--light-grey);
 }

 div.counter .counter-box .counter-circle {
     width: 70px;
     height: 70px;
     background-color: var(--blue-color);
     opacity: 0.8;
 }

 div.counter .counter-box .counter-circle i {
     font-size: 32px;
     color: var(--primary-color);
 }

 /* ________ P O R T F O L I O   S E C T I O N ________ */
 section.portfolio .para-portfolio {
     color: var(--tertiary-color);
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 section.portfolio .para-portfolio:before {
     content: '';
     width: 3%;
     height: 4px;
     background-color: var(--blue-color);
     position: absolute;
     bottom: -15px;
 }

 section.portfolio .card-body p {
     color: var(--tertiary-color);

 }

 section.portfolio .card-body {
     padding: 32px 12px 16px 16px;
 }

 section.portfolio .card {
     box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
     overflow: hidden;
 }

 section.portfolio .card-img {
     display: block;
     overflow: hidden;
 }

 section.portfolio .card .card-img-top {
     transition: transform ease 1s;
 }

 section.portfolio .card:hover img {
     transform: scale(1.25);
     cursor: pointer;
 }

 /* ________ T E S T I M O N I A L S  S E C T I O N ________ */

 div.testimonials {
     background-image: url('../imgs/overlay-bg.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     position: relative;
     padding: 128px 0px;
     background-attachment: fixed;
 }

 div.testimonials .overlay {
     opacity: 0.7;
 }

 .carousel-item .d-block .first {
     width: 150px;
     height: 150px;
     border-radius: 50%;
 }

 .carousel-item .d-block .second {
     width: 102px;
     height: 150px;
     border-radius: 50%;
 }

 .carousel-caption {
     position: static;
     padding-block: 0px;
 }

 .carousel-indicators {
     margin-bottom: -1rem;
 }

 .carousel-indicators [data-bs-target] {
     width: 10px;
     height: 10px;
     border-radius: 50%;

 }

 /* ____________ B L O G  S E C T I O N ____________ */
 section.blog .para-blog {
     color: var(--tertiary-color);
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 section.blog .para-blog:before {
     content: '';
     width: 3%;
     height: 4px;
     background-color: var(--blue-color);
     position: absolute;
     bottom: -15px;
 }

 section.blog .card-body a {
     transition: color ease 0.4s;
 }

 section.blog .card-body a:hover {
     color: var(--blue-color);
 }

 section.blog .card-footer img {
     width: 32px;
     height: 32px;
 }

 section.blog .small {
     width: 70px;
     padding: 0 15px 5px;
 }

 section.blog .card-ident {
     width: 97px;
     padding: 0 15px 5px;
 }

 section.blog .card-ident>span,
 section.blog .small>span {
     font-size: 11px;
 }

 section.blog .card-footer .card-footer-content:hover {
     color: var(--blue-color);
 }

 section.blog .card-footer .card-footer-content {
     transition: color ease 0.4s;
 }

 /* __________ C O N T A C T  S E C T I O N ___________*/
 section.contact {
     background-image: url('../imgs/overlay-bg.jpg');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }

 section.contact .overlay {
     opacity: 0.8;
 }

 section.contact .container {
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
 }

 section.contact .form-title h2 {
     width: fit-content;
 }

 section.contact .form-title h2::before {
     content: '';
     width: 45%;
     height: 3px;
     position: absolute;
     background-color: var(--blue-color);
     bottom: -10px;
 }

 section.contact form button {
     border-radius: 100vh;
     padding: 10px 24px;
 }

 section.contact form button:hover {
     box-shadow: 0 0 0 4px #cde1f8;
 }

 section.contact .contact-social-icons li a {
     width: 40px;
     height: 40px;
     color: var(--black-color);
     transition: color ease 0.4s;
 }

 section.contact .contact-social-icons li a:hover {
     background-color: rgb(0, 120, 255);
     color: rgb(255, 255, 255);
     box-shadow: rgb(205, 225, 248) 0px 0px 0px 3px;
 }

 /*______________ F O O T E R _______ _________*/
 footer a {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: var(--blue-color);
     position: fixed;
     right: 15px;
     bottom: 15px;
     justify-content: center;
     align-items: center;
     transition: background-color ease 0.4s;
 }

 footer a:hover {
     background-color: #298eff;
 }